---
const { title } = Astro.props;
---

<style>
	.title {
		font-family: "Press Start 2P", cursive; /* O el nombre de la fuente que elegiste */
		font-size: 3rem;
		text-align: center;
		color: #fff; /* Un color verde brillante típico de los juegos arcade */
		margin: 2rem 0;
		text-shadow:
			2px 2px 0 #000,
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	}
</style>

<h1 class="title">{title}</h1>
